<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <title><%= `${info.documentType} #${info.documentNo}` %></title>
    <%- styles %>
  </head>
  <body>
    <!-- Header -->
    <%- await include('partials/header', { customer, info }) %>
    <!-- Main -->
    <main>
      <!-- Customer Info -->
      <section class="df-section-wrapper customer-info">
        <h2>Client</h2>
        <p><strong><%= customer.name %></strong></p>
        <p><%= customer.name2 %></p>
        <p><%= customer.location.address %></p>
        <p><%= customer.contact.phone %></p>
        <p><%= customer.contact.phone2 %></p>
        <p><%= customer.contact.email %></p>
      </section>

      <!-- Items -->
      <section class="df-section-wrapper">
        <h2>Produits et Services</h2>
        <table>
          <thead>
            <tr>
              <th>Produit</th>
              <th>Quantité</th>
              <th>Description</th>
              <th>Description (suite)</th>
              <th style="text-align: end">Prix Unitaire</th>
              <th style="text-align: end">Rabais (%)</th>
              <th style="text-align: end">Total</th>
            </tr>
          </thead>
          <tbody>
            <% lines.forEach(line => { %>
            <tr>
              <td><%= line.item.itemNo %></td>
              <td><%= line.item.quantity %></td>
              <td><%= line.item.description %></td>
              <td><%= line.item.attributeNameSetAsString %></td>
              <td style="text-align: end">
                <%= line.pricing.unitPriceToString %>
              </td>
              <td style="text-align: end">
                <%= line.pricing.lineDiscountAmountToString %>
              </td>
              <td style="text-align: end">
                <%= line.pricing.lineSubtotalToString %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>

      <!-- Payment Summary -->
      <section class="df-section-wrapper">
        <h2>Paiement et Conditions</h2>
        <div style="display: flex; gap: 2em">
          <div class="policy" style="flex-grow: 2">
            <p>
              Les délais de production sont de 2 à 4 semaines selon
              l'achalandage.
            </p>
            <p>Les planches ne sont pas triées ni classées.</p>
          </div>
          <div class="payment">
            <table style="width: 15em; table-layout: auto">
              <tbody>
                <tr>
                  <td style="border: none">Sous-total:</td>
                  <td style="text-align: end; border: none">
                    <%= totals.subtotalToString %>
                  </td>
                </tr>
                <tr>
                  <td style="border: none">TPS (5%):</td>
                  <td style="text-align: end; border: none">
                    <%= totals.gstToString %>
                  </td>
                </tr>
                <tr>
                  <td style="border: none">TVQ (9.975%):</td>
                  <td style="text-align: end; border: none">
                    <%= totals.pstToString %>
                  </td>
                </tr>
                <tr>
                  <td style="border: none">Rabais:</td>
                  <td style="text-align: end; border: none">
                    <%= totals.discountToString %>
                  </td>
                </tr>
                <tr>
                  <td style="border: none">Paiement:</td>
                  <td style="text-align: end; border: none">
                    <%= totals.paymentAmountToString %>
                  </td>
                </tr>
                <tr>
                  <td style="border: none" class="total">Total:</td>
                  <td class="total" style="text-align: end; border: none">
                    <%= totals.totalToString %>
                  </td>
                </tr>
                <tr>
                  <td style="border: none">Balance:</td>
                  <td style="text-align: end; border: none">
                    <%= totals.balanceToString %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
