<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <title><%= `${info.documentType} #${info.documentNo}` %></title>
    <%- styles %>
  </head>
  <body>
    <!-- Header -->
    <%- await include('partials/header', { customer, info }) %>
    <!-- Main -->
    <main>
      <!-- Seller and Customer Info -->
      <%- await include('partials/seller-and-buyer', { customer }) %>
      <section class="document-meta">
        <article>
          <span
            ><%= totals.boardfeetToString ? "PMP: " + totals.boardfeetToString :
            "" %></span
          >
          <span
            ><%= totals.surfaceToString ? "Surface Couvrante: " +
            totals.surfaceToString : "" %></span
          >
          <span
            ><%= info.requiredDate ? "Date Requise: " + info.requiredDate : ""
            %></span
          >

          <span
            ><%= info.documentType === "invoice" ? "Commande: " +
            info.documentNo : "" %></span
          >
        </article>
      </section>

      <!-- Items -->
      <% const showDiscountColumn = totals.discountAsDecimal > 0 %>
      <section>
        <h3>Produits et Services</h3>
        <table>
          <colgroup>
            <col span="2" style="width: 6em" />
            <col span="1" style="width: 15em" />
            <col span="1" style="width: 11em" />
          </colgroup>
          <thead>
            <tr>
              <th><span>Produit</span></th>
              <th><span>Quantité</span></th>
              <th><span>Description</span></th>
              <th><span>Description (suite)</span></th>
              <th style="text-align: end"><span>Prix Unitaire</span></th>
              <% if (showDiscountColumn) { %>
              <th style="text-align: end"><span>Rabais ($)</span></th>
              <% } %>
              <th style="text-align: end"><span>Total</span></th>
            </tr>
          </thead>
          <tbody>
            <!-- Map the lines -->
            <% lines.forEach(line => { %>
            <tr>
              <td><%= line.item.itemNo %></td>
              <td><%= line.item.quantity %></td>
              <td><%= line.item.description %></td>
              <td><%= line.item.attributeNameSetAsString %></td>
              <td style="text-align: end">
                <%= line.pricing.unitPriceToString %>
              </td>
              <% if (showDiscountColumn) { %>
              <td style="text-align: end">
                <%= line.pricing.lineDiscountAmountToString %>
              </td>
              <% } %>
              <td style="text-align: end">
                <%= line.pricing.lineSubtotalToString %>
              </td>
            </tr>
            <% }) %>

            <!-- Totals in table rows -->
            <!-- Sous-Total -->
            <tr
              style="
                border-top: 2px solid var(--color-text);
                border-bottom: none;
              "
            >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <% if (showDiscountColumn) { %>
              <td></td>
              <% } %>
              <td style="text-align: start; text-wrap: nowrap">
                <span>Sous-total:</span>
              </td>
              <td style="text-align: end">
                <span> <%= totals.subtotalToString %> </span>
              </td>
            </tr>
            <!-- TPS (GST) Row -->
            <tr style="border: none">
              <td></td>
              <td></td>
              <% if (showDiscountColumn) { %>
              <td></td>
              <% } %>
              <td style="text-align: end; font-size: var(--fs-sm)">
                <span>(73470 5726)</span>
              </td>
              <td></td>
              <td style="text-align: start; text-wrap: nowrap">
                <span>TPS (5%):</span>
              </td>
              <td style="text-align: end">
                <span> <%= totals.gstToString %> </span>
              </td>
            </tr>
            <!-- TVP (PST) Row -->
            <tr style="border: none">
              <td></td>
              <td></td>
              <% if (showDiscountColumn) { %>
              <td></td>
              <% } %>
              <td style="text-align: end; font-size: var(--fs-sm)">
                <span>(1029812574)</span>
              </td>
              <td></td>
              <td style="text-align: start; text-wrap: nowrap">
                <span>TVQ (9.975%):</span>
              </td>
              <td style="text-align: end">
                <span> <%= totals.pstToString %> </span>
              </td>
            </tr>
            <!-- Discount Row -->
            <% if (showDiscountColumn) { %>
            <tr style="border: none">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td style="text-align: start; text-wrap: nowrap">
                <span>Rabais:</span>
              </td>
              <td style="text-align: end">
                <span> <%= totals.discountToString %> </span>
              </td>
            </tr>
            <% } %>
            <!-- Total Row -->
            <tr style="border: none">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <% if (showDiscountColumn) { %>
              <td></td>
              <% } %>
              <td style="text-align: start; text-wrap: nowrap">
                <span>Total:</span>
              </td>
              <td style="text-align: end">
                <span> <%= totals.totalToString %> </span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
    <footer>
      <article class="tnc-constant">
        <p>
          Le bois est un matériau naturel : des variations de couleur et de
          grain peuvent survenir.
        </p>
        <p>Les commandes spéciales ne sont ni échangeables ni remboursables.</p>
      </article>
      <article>
        <p>Les planches ne sont pas triées ni classées.</p>
      </article>
      <article style="text-align: center; margin-top: 1em">
        <p>&copy; Scierie Le Tourneur 2025</p>
      </article>
    </footer>
  </body>
</html>
